
.homeBannerLeft{
  animation: left .8s ease infinite;
  animation-iteration-count: 1;
}
.homeBannerRight{
  animation: right .8s ease infinite;
  animation-iteration-count: 1;
}
.homeBannerBottom{
    animation: bottom .8s ease infinite;
    animation-iteration-count: 1;
  }
@keyframes left {
  from{
    transform: translateX(-500px);
  }
  to{
    transform: translateX(0px);
  }
}
@keyframes bottom {
    from{
      transform: translateY(500px);
    }
    to{
      transform: translateY(0px);
    }
  }
@keyframes right {
  from{
    transform: translateX(500px);
  }
  to{
    transform: translateX(0px);
  }
}
.communication{
    .img_banner{
        width: 72%;
    }
    width: 90%;
    margin: 0 auto;
    padding-top: 40px;
    img{
        width: 90%;
        height: auto;
    }
    p{
        font-size: 27px;
        margin-bottom: 0;
    }
    .para{
        padding: 0 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        span{
            margin-left: 71px;
        }
    }
    .cent{
        text-align: center;
    }
    .cents{
        font-size: 50px !important;
        font-weight: 600;
        text-align: center;
    }
    .map{
        margin-top: 30px;
        .img{
          
            img{
                width: 100%;
                margin-top: 10px;
                height: 68vh;
            }
        }
    }
}