.footer{
    text-align: center;
    padding: 30px 0;
    font-size: 27px;
    br{
        display: none;
    }
    p{
        margin-bottom: 0;
    }
}

@media (max-width: 1100px) {
    .footer br{
        display: block;
    }
    
  }
  @media (max-width: 1600px) {
    .footer .br2{
        display: block;
    }
  }