.HeaderMobile{
    
    margin-top: 11px;
    background: white;
    width: 119px;
    padding: 0 17px;
    a{
        color: black;
        font-weight: bold;
    }
}
.mobile_cent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}
.humbeger{
    .item{
        width: 25px;
        height: 3px;
        background-color: black;
        margin: 5px 0;
    }

}