.retail {
  padding: 20px 120px;
  .ant-tabs-tab-btn {
    font-weight: 600 !important;
  }
  h3 {
    margin: 20px 0 !important;
    text-align: center;
  }
}
.imgRetails{
  height: 300px;
}
.mt-3{
  margin-top: 30px;
}
.img-details{
  max-width: 100%;
}
.item-retai{
  margin: 10px;
}
.list_tab{
 
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1180db;
  color: white;
  font-weight: 600;
  padding: 20px 0;
  margin-right: 10px;
  margin-bottom: 20px;
  .img{
    text-align: center;
  }
  p{
    text-align: center;
  }
  ul{
    padding: 25px;
  }
  h3{
    color: white;
    font-weight: 600;
    border-bottom: 2px solid yellow;
  }
  li{
    padding: 10px;
    font-size: 18px;
    border-bottom: 1px solid #cacaca;
    text-align: center;
    cursor: pointer;
  }
  li:hover{
    background-color: yellow;
    color: black;
  }
  img{
    margin-left: 10px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
  }
}
@media (max-width: 1200px) {
  .retail {
    padding: 20px 20px;
  }
  .ant-tabs-left{
    display: block !important;
}
.ant-tabs-nav-list{
    display: block !important;
    flex-wrap: wrap !important;
    white-space: normal  !important;
}
.ant-tabs-tab{
    margin-top: 10px !important;
}
}
#fb-share-button {
  background: #3b5998;
  border-radius: 3px;
  font-weight: 600;
  padding: 5px 8px;
  display: inline-block;
  position: static;
}

#fb-share-button:hover {
  cursor: pointer;
  background: #213A6F
}

#fb-share-button svg {
  width: 18px;
  fill: white;
  vertical-align: middle;
  border-radius: 2px
}

#fb-share-button span {
  vertical-align: middle;
  color: white;
  font-size: 14px;
  padding: 0 3px
}