@import "./communi.scss";
@import "./HeaderMobile.scss";
@import "./listImg.scss";
@import "./footer.scss";
@import "./project.scss";
@import "./contact.scss";
.item_col{
  width: 16%;
}
.project{
  img{
    width: 100%;
    height: 80vh;
  }
}
.logo {
  img {
    width: 50px;
    height: 50px;
  }
}
.homeBannerLeft {
  animation: left 0.8s ease infinite;
  animation-iteration-count: 1;
}
.homeBannerRight {
  animation: right 0.8s ease infinite;
  animation-iteration-count: 1;
}

.homeLeft {
  animation: left 0.5s ease infinite;
  animation-iteration-count: 1;
}
.homeRight {
  animation: right 0.8s ease infinite;
  animation-iteration-count: 1;
}
.homeBannerTop {
  animation: tops 1.1s ease infinite;
  animation-iteration-count: 1;
}
.homeBannerBot {
  animation: bots 1.4s ease infinite;
  animation-iteration-count: 1;
}
@keyframes left {
  from {
    transform: translateX(-500px);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes right {
  from {
    transform: translateX(500px);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes tops {
  from {
    transform: translateY(-500px);
  }
  to {
    transform: translateY(0px);
  }
}
@keyframes bots {
  from {
    transform: translateY(500px);
  }
  to {
    transform: translateY(0px);
  }
}
body {
  max-width: 100%;
  overflow-x: hidden;
  font-size: 16px !important;
  font-family: "Josefin Slab", serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Nanum Gothic Coding", monospace;
  font-family: "Open Sans", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  .home {
    margin: 0 40px;
    .home-view {
      font-size: 25px;
    }
    .title_banner {
      width: 100%;
      opacity: 0.8;
      background: #6a9cb6;
      font-size: 60px;
      font-family: "Lora", serif !important;
      font-weight: 300;
      color: white;
      text-align: center;
      font-weight: 600;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    p {
      font-size: 18px;
    }
  }
}
i {
  color: #ffffff;
  font-size: 15px;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
ul,
li {
  list-style: none;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.row-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.m-10 {
  margin: 10px;
}
.prj {
  font-size: 40px;
  margin-top: 20px;
}
.text-end {
  text-align: end;
}
.p-10 {
  padding: 10px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-10 {
  margin-top: 10px;
}
.items-center {
  display: flex;
  align-items: center;
}
h1 {
  font-size: 30px;
}
.mr-30 {
  margin-right: 20px;
}
h2 {
  font-size: 25px;
}
h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 0 !important;
  font-weight: 600;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  padding-right:40px;
  box-sizing: border-box;
  z-index: 9999;
  background-color: white;
}

nav .brand {
  float: left;
  height: 100%;
  line-height: 80px;
  display: flex;
  margin-left: 17%;
  align-items: center;
}

nav .brand img {
  width: 100px;
  height: 80px;
  margin: 0;
  padding: 0;
}

nav ul {
  float: right;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  position: relative;
  display: block;
  height: 80px;
  line-height: 80px;
  padding-left: 40px;
  font-size: 20px;
  font-weight: 500;
  box-sizing: border-box;
  color: rgb(36, 35, 35);
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
}

nav ul li a:hover:before {
  transform-origin: left;
  transform: scaleX(1);
}

// nav ul li a:hover {
//   color: #ffffff;
// }
.footer .footer-items .footer-item4 {
  float: left;
  width: calc(100% / 8);
  margin-top: 100px;
  margin-right: calc(1%);
  margin-left: 20px;
}
.footer .footer-items .footer-item3 {
  float: left;
  width: calc(100% / 8);
  margin-top: 100px;
  margin-right: calc(1%);
  margin-left: 20px;
}

.footer .footer-items .footer-item1 {
  float: left;
  width: calc(40%);
  margin-top: 100px;
  margin-left: 100px;
}
.footer .footer-items .footer-item2 {
  float: left;
  width: calc(100% / 8);
  margin-top: 100px;
  margin-left: 20px;
}
.footer-item2 span {
  font-weight: 100;
}
.footer-items {
  position: relative;
  z-index: 2;
}
.footer {
  width: 100%;
  height: 40%;
}
.ant-modal-footer {
  display: none;
}
.ant-modal {
  top: 70px !important;
  float: right;
  margin: 0 !important;
  width: 50% !important;
}
.ant-modal-content {
  background-color: rgb(236, 231, 231) !important;
  color: black !important;
  height: 100vh;
}
.ant-popover-placement-bottom {
  top: 60px !important;
  a {
    color: black;
    font-size: 15px;
    margin-bottom: 5px;
  }
}
.mobile {
 display: none;
}
.web {
  display: block;
  border-bottom: 1.5px solid #cacaca;
}
.about_me {
  height: 565px;
}
@media (max-width: 1100px) {
  .smaill_photo{
    width: 420px !important;
  }
  .big_img img {
    width: 95%;
  }
}
@media (max-width: 992px) {
  .img_home img{
    height: 45vh;
  }
  .homeBannerLeft, .homeBannerRight, .homeLeft, .homeRight, .homeBannerTop, .homeBannerBot, .row-mobi{
    animation:none !important;
  }
  .smaill_photo{
    width: 100% !important;
  }
  .big_img img {
    width: 100%;
  }
  nav .brand{
    margin-left: 5%;
  }
  nav ul li a{
    font-size: 16px;
  }
  .row-mobi {
    margin: 0 15px;
  }
  .ant-col-16 {
    display: block;
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
  .mobi-none {
    display: none !important;
  }
  .contact img {
    width: 100%;
  }
  .communication {
    padding-top: 0;
  }
  nav {
    padding: 0 20px;
  }
  .Introduct {
    margin-bottom: 20px !important;
  }
  .about_me {
    height: auto;
  }
  .tit {
    margin: 10px 10px !important;
    p {
      margin-bottom: 0;
    }
  }

  body .home .title_banner {
    font-size: 70px;
    font-weight: 600;
  }
  .ant-1 {
    max-width: 3% !important;
  }
}
.mt-100 {
  margin-top: 100px;
}
@media (max-width: 1350px) {
  .communication .cents{
    font-size: 28px !important;
  }
}
@media (max-width: 1200px) {
  nav .brand{
    margin-left: 5%;
  }
  nav ul {
    transition: .5s;
    background-color: white;
    border-radius: 10px;
    float: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;

  }
  .img_home{
    img{
      width: 100%;
    }
  }
  .styles_img_fixed__2SzPE{
    height: 30vh !important;
  }
  .communication .cent {
    transform: translateY(0) !important;
}
.communication .para{
  padding: 0 20px;
}
.communication .cents {
  white-space: normal !important;
  margin-top: 15px !important;
  font-size: 27px !important;
}
.communication .map .img img{
  height: auto !important;
}
.communication p {
font-size: 18px;
}
.communication .phone_mr{
  margin-left: 0 !important;
}
  .footer p {
    white-space: normal !important;
  }
  .footer {
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .mt-80 {
    margin-top: 20px;
  }
  .prj {
    margin-top: 20px;
    font-size: 30px;
  }
  body .home {
    margin: 0 !important;
  }
  .smaill_photo {
    width: 100% !important;
  }
  .center_banner {
    transform: translateY(0) !important;
    margin-bottom: 10px;
  }
  .big_img img {
    max-height: 100% !important;
  }
  .mobile {
    display: block;
    border-bottom: 1px solid #cacaca;
  }
  .projects {
    h1 {
      text-align: center;
      font-size: 22px;
    }
  }
  .Introduct {
    img {
      height: auto !important;
    }
    .item {
      padding: 15px !important;
    }
    .item1 {
      padding: 15px !important;
    }
  }
  .contact{
    padding: 0 16px;
  }
  .slick-dots li{
    margin: 0 0 !important;
  }
  .web {
    display: none;
  }
  body .home .title_banner {
    font-size: 33px;
    font-weight: 300;
    margin-bottom: 0 !important;
    width: 90% !important;
  }
  .ant-1 {
    display: none !important;
  }
  .project {
    margin: 0 10px !important;
    .ant-row {
      display: block !important;
    }
  }
  .ant-22 {
    max-width: 100% !important;
    margin: 0 !important;
  }
  h2 {
    font-size: 15px !important;
  }
  .text {
    font-size: 22px;
    white-space: nowrap;
  }
  .slick-slide img {
    height: auto  !important;
  }
  .list_img {
    .ant-col-3 {
      display: block;
      flex: 0 0 0%;
      max-width: 0%;
    }
    .ant-col-18 {
      display: block;
      flex: 0 0 100%;
      max-width: 100%;
    }
    .wrap-img .img_list {
      height: auto;
      margin-top: 10px;
    }
    .img_banner {
      width: 100%;
    }
    .communication .cent {
      transform: translateY(0px) !important;
    }
  }

  //@at-root
  .Introduct {
    margin-right: 0 !important;
    margin-top: 0 !important;
  }
  .img_cent {
    padding-right: 0 !important;
  }
  // .Introduct img{
  //   width: 100% !important;
  // }
  .tits {
    margin-top: 15px;
    margin-right: 15px !important;
    margin-left: 15px !important;
  }
  h1 {
    font-size: 25px;
  }
  .tit br {
    display: none;
  }
  .img_cents {
    padding-left: 0 !important;
  }

  .Introduct .img_bottom {
    margin-top: 0 !important;
  }
  .img_top {
    margin-top: 10px;
  }
}
.center_banner {
  transform: translateY(-77px);
}
.smaill_photo {
  width: 500px;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}
.big_img {
  width: 50%;
  height: auto;
  img {
    max-width: 100%;
    max-height: 90%;
  }
}
.Introduct {
  .item1 {
    padding: 20px 200px 20px 100px;
  }
  .item {
    padding: 20px 100px 20px 200px;
  }
  margin-top: 100px;
  margin-bottom: 100px;
 
  .img_bottom {
  
    margin-top: 118px;
  }
  .Center_tit {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}
.tit {
  margin-right: 114px;
  margin-left: 281px;
}
.tits {
  margin-right: 129px;
  margin-left: 114px;
}
.project {
  h2 {
    cursor: pointer;
    text-transform: uppercase;
  }
}
.ant-modal-wrap {
  overflow: hidden !important;
}

.img_cent {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 114px;
}
.img_cents {
  padding-left: 114px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.projects {
  margin-top: 100px;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(106, 107, 105);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(106, 107, 105);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(106, 107, 105);
}
.view_map {
  text-align: right;
}
.showMore {
  font-weight: 600;
}
.Introduct {
  img {
    width: 100%;
    height: 600px;
  }
}
